.DS_Store
node_modules/

# cargo build
target/

*.log

# `indent` command generates
*~
*.BAK

*.a
*.o
*.out
*.wasm

*.aif
*.aiff
*.flac
*.wav

openssl.cnf
ca.crt
ca.csr
ca.key
server.crt
server.csr
server.key
