@charset "UTF-8";

html,
body,
div,
h1,
ul,
dl,
dt,
dd,
form,
section {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #999;
  line-height: 1.5;
}

section {
  margin: 24px auto;
  width: 80%;
}

h1 {
  margin: 12px 0;
  font-size: 24px;
  font-weight: lighter;
  color: #666;
}

ul {
  margin-left: 24px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input,
button,
label {
  cursor: pointer;
  outline: none;
}

input[type="range"] {
  vertical-align: middle;
}

audio + label {
  margin-left: 4px;
  vertical-align: 12px;
}

audio + label [type="checkbox"] {
  vertical-align: -1px;
}
